<!DOCTYPE html>
<html lang="en" class="js"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Dao Nguyen</title>
	<meta name="description" content="Dao Nguyen">
	<meta name="author" content="Dao Nguyen
	">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="stylesheets/reset.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/animate.css">
	<link rel="stylesheet" href="stylesheets/jquery.mCustomScrollbar.css">	
	<link rel="stylesheet" href="stylesheets/layout.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/logo3.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/logo2.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/logo1.png">
	
	<!-- Webfonts -->
	<link href="javascripts/css.css" rel="stylesheet" type="text/css">

</head>
<body class="offsite-nav">

<!-- Primary Page Layout
================================================== -->
<!-- Loading -->
<div id="loading" style="display: none;"></div>

<!-- Content -->
<div id="content">

	<!-- Offsite Nav -->
	<div id="offsite-nav">
		<nav id="bt-menu" class="bt-menu">
			<a href="#" class="bt-menu-trigger"><i class="icon-reorder"></i></a>
		<div class="bt-overlay"></div><ul class="">
						<li><a href="#">Home</a><span></span></li>
						<li><a href="#showcase-select">Works</a></li>
						<li><a href="#about">About Me</a><span></span></li>
						<li><a href="https://www.linkedin.com/in/daothanhnguyen" target="_blank">LinkedIn</a><span></span></li>
						<li><a href="#contact">Contact</a><span></span></li>
					</ul><ul class="">
						<li><a href="#"><i class="icon-flickr"></i></a></li>
						<li><a href="https://github.com/spaceman27"><i class="icon-github-sign"></i></a></li>
					</ul></nav>
	</div>


	<!-- Site wrapper -->
	<div id="wrapper">

		<!-- Back Top Btn -->
		<button class="back-top-btn transition downscaled">
			<i class="icon-angle-up"></i>
		</button>
		
		<!-- Header -->
		<header id="header" class="header">
		
			<!-- Top Header -->
			<div class="top-header">
			
				<!-- Container -->
				<div class="container">
				
					<!-- Logo -->
					<a href="" class="logo">
						<i class="icon-home"></i>
					</a>			
					
					<!-- Socials -->
					
					
				</div><!-- / Container -->		
			
			</div><!-- / Top Header -->

			<!-- Navigation -->
			<nav id="nav" class="nav transition">
			
				<!-- Container -->
				<div class="container">
					
					
				
				</div><!-- / Container -->
			
			</nav><!-- / Navigation -->		
		
		</header><!-- / Header -->

		
		<!-- Slider -->
		<section id="slider" class="slider">
		
				<!-- Prev & Next -->
				
				<!-- Container -->
				<div class="container">
				
					<!-- Slideshow -->
					<ul id="the-slider"><li class="slide 01 left cycle-slide cycle-sentinel">
						
							<!-- Model -->
							<img data-effect="bounceInLeft" class="model animated bounceInLeft" src="images/dao.png" alt="" style="">
							
							<!-- Contents -->
							<div data-effect="bounceInLeft" class="contents animated bounceInLeft" style="">
								<h1 class="title" style="">Hello, I am Dao Nguyen</h1>
								<p class="subtext" style=""> 6 years of experiences, UI focus with modern javascript framework</p>
								<a href="#contact" style="background: rgb(92, 172, 226);" class="contact btn light transition">CONTACT ME</a>
							</div>
						</li>
					
						<!-- Slide Left Aligned -->
						
				</ul><!-- / Slideshow -->
				
				</div><!-- / Container -->
		
		</section><!-- / Slider -->		
		
		<!-- Showcase Select -->
		<section id="showcase-select" class="showcase-select">
		
			<!-- Container -->
			<div class="container">

				<!-- Section Title -->
				<div class="sixteen columns">
					<div class="section-title">
						<h1>Something about <span>me</span></h1>
					</div>
				</div>
				
				<!-- Showcase Selector -->
				<div class="one-third column">
					<div class="showcase-selector" data-showcase="portfolio-01">
						<i class="icon-picture"></i>
						<h2><span>Pictures</span></h2>
					</div>
				</div>
				
				<!-- Showcase Selector -->
				<div class="one-third column">
					<div class="showcase-selector active" data-showcase="portfolio-02">
						<i class="icon-check"" ></i>
						<h2><span>Experiences</span></h2>
					</div>
				</div>

				<!-- Showcase Selector -->
				<div class="one-third column">
					<div class="showcase-selector" data-showcase="portfolio-03">
						<i class="icon-book"></i>
						<h2><span>Education</span></h2>
					</div>
				</div>	
			
				<span class="showcase-bullet transition-5s"></span>
			
			</div><!-- / Container -->
		
		</section><!-- / Showcase Select -->	
		
		
		<!-- Showcase -->
		<section id="showcase" class="showcase lightbox">
		
			<!-- Container -->
			<div class="container">
			
				<!-- Portfolio 01-->
				<div class="portfolio" data-showcase="portfolio-01" style="display: none;">

					<!-- Section Title -->
					<div class="sixteen columns">
						<div class="section-title">
							<h1><span>Pictures</span></h1>
						</div>
					</div>
					
					<!-- Portfolio Item a 01-->
					<figure class="one-third column portfolio-item" data-portfolio="a-01">
						<img src="images/1.jpg" alt="">
						<figcaption class="transition">Graduated from university<span></span></figcaption>
					</figure>
					
					<!-- Portfolio Item a 02 -->
					<figure class="one-third column portfolio-item" data-portfolio="a-02">
						<img src="images/2.jpg" alt="">
						<figcaption class="transition">I was in Singapore</figcaption>
					</figure>

					<!-- Portfolio Item a 03-->
					<figure class="one-third column portfolio-item" data-portfolio="a-03">
						<img src="images/3.jpg" alt="">
						<figcaption class="transition">Judo team</figcaption>
					</figure>
					
					<!-- Portfolio Item a 04-->
					<figure class="one-third column portfolio-item" data-portfolio="a-04">
						<img src="images/4.jpg" alt="">
						<figcaption class="transition">My family</figcaption>
					</figure>
					
					<!-- Portfolio Item a 05-->
					<figure class="one-third column portfolio-item" data-portfolio="a-05">
						<img src="images/5.jpg" alt="">
						<figcaption class="transition">My jouney in US started ...</figcaption>
					</figure>
					
					<!-- Portfolio Item a 06-->
					<figure class="one-third column portfolio-item" data-portfolio="a-06">
						<img src="images/6.jpg" alt="">
						<figcaption class="transition">With friends ...</figcaption>
					</figure>

					
					<!-- Portfolio Details -->
					<div class="portfolio-details">
						
						<!-- Overlay -->
						<div class="lb-overlay"></div>
						
						<!-- Portfolio-Detail a 01 -->
						<div class="portfolio-detail" data-portfolio="a-01">
							<i class="close icon-remove transition"></i>
							<img src="images/1.jpg" alt="">
							<h3>I graduated FPT university</h3>
							<p>With a excellent degree :p</p>
						</div>
						
						<!-- Portfolio-Detail a 02 -->
						<div class="portfolio-detail" data-portfolio="a-02">
							<i class="close icon-remove transition"></i>
							<img src="images/2.jpg" alt="">
							<h3>In Germany</h3>
							<p>I was there to bring 1 project back to Vietnam</p>
						</div>

						<!-- Portfolio-Detail a 03 -->
						<div class="portfolio-detail" data-portfolio="a-03">
							<i class="close icon-remove transition"></i>
							<img src="images/3.jpg" alt="">
							<h3>I love sports</h3>
							<p>and beer :D</p>
						</div>
						
						<!-- Portfolio-Detail a 04 -->
						<div class="portfolio-detail" data-portfolio="a-04">
							<i class="close icon-remove transition"></i>
							<img src="images/4.jpg" alt="">
							<h3>I decided to go to US to pursue my dream</h3>
							<p>It was hard to say good bye</p>
						</div>
						
						<!-- Portfolio-Detail a 05 -->
						<div class="portfolio-detail" data-portfolio="a-05">
							<i class="close icon-remove transition"></i>
							<img src="images/5.jpg" alt="">
							<h3>In amazing US</h3>							
						</div>
						
						<!-- Portfolio-Detail a 06 -->
						<div class="portfolio-detail" data-portfolio="a-06">
							<i class="close icon-remove transition"></i>
							<img src="images/6.jpg" alt="">
							<h3>I have had many chances to meet many people from all over the world</h3>							
						</div>
			
						
					</div><!-- / Portfolio Details -->		

				</div><!-- / Portfolio 01-->
				
				<!-- Portfolio 02-->
				<div class="portfolio" data-showcase="portfolio-02">

					<!-- Section Title -->
					<div class="sixteen columns">
						<div class="section-title">
							<h1>Experiences</h1>
							<p>2 of my recent projects. For more information, please feel free to visit my LinkedIn profile or have a look at my resume</p>
						</div>
					</div>
					
					<div>
			<div class="section-title">			
<p class="animated fadeInUp"><strong>I-GLOCAL RESOURCE 3/2011 to 3/2013</strong></p>
<div class="project-content animated fadeInUp">
<p class="animated fadeInUp">Designed and launched job board system to manage full-cycle HR process, developed key components  including membership registration, profile management, search functionality using  C#, WebAPI, EF, LINQ, HTML5, CSS3, AngularJS and Bootstrap</p>
<p class="animated fadeInUp">Innovated web application design to enable employee time-tracking via WCF web service. </p>
<p class="animated fadeInUp">Developed comprehensive end-user and administrator interface to generate reports, send newsletters with better suggestion for user job search.</p>
<p class="animated fadeInUp">Optimized system performance by periodic code reviews, and automated UI Testing using Selenium, Unit Testing using Jasmine</p>
</div>
<p><strong>Sau Thang | 3/2009 to 3/2011</strong></p>
<div class="project-content animated fadeInUp">
<p class="animated fadeInUp">Spearheaded educational software project from design to implementation.</p>
<p class="animated fadeInUp">Primary architect for online English teaching program with pay-gate support, developed full-text search engine for bi-lingual sentence dictionary (English and Vietnamese) using Javascript , jQuery, HTML, CSS</p>
</div>
</div>
					</div><!-- / Portfolio Details -->

				</div><!-- / Portfolio 02-->

				<!-- Portfolio 03-->
				<div class="portfolio" data-showcase="portfolio-03" style="display: none;">

					<!-- Section Title -->
					<div class="sixteen columns">
						<div class="section-title">
							<h1><span>Education</span></h1>
						</div>
					</div>
					
					<div class="section-title">			
						<p class="animated fadeInUp"><strong>Master Of Computer Science</strong></p>
						<div class="project-content">
							<p class="animated fadeInUp">Maharishi University of Management- IOWA, USA</p>
						</div>
						<p class="animated fadeInUp"><strong>Bachelor of Software Engineering</strong></p>
						<div class="project-content">
							<p class="animated fadeInUp">Open University - HCMC, Vietnam</p>
						</div>
					</div>				
					

				</div><!-- / Portfolio 03-->
				
			</div><!-- / Container -->
		
		</section><!-- / Showcase -->		
		
		<!-- About -->
		<section id="about" class="about">
		
			<!-- Container -->
			<div class="container">

				<!-- Section Title -->
				<div class="sixteen columns">
					<div class="section-title">
						<h1>About <span>Dao Nguyen</span></h1>
						<p>
							<span>Great man find himself</span>
						</p>
					</div>
				</div>

				<!-- Clear -->
				<div class="clear margin"></div>
				
				<!-- Divider -->
				<div class="divider"></div>

				<!-- Our Skills -->
				<div class="eight columns">
					<div class="skills">
					
						<h2>Development<span></span></h2>
					
						<ul>
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>C#/ASP.NET</p>
									<span>70%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Angular 80%</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Javascript/JQuery</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>
							
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-html5"></i>
									<p>HTML(5)/CSS(3)</p>
									<span>70%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="70%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Web services</p>
									<span>70%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="70%"></span>
								</div>
							</li>
							
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-code"></i>
									<p>Databases</p>
									<span>60%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="50%"></span>
								</div>
							</li>
						</ul>

							<h2>Frameworks<span></span></h2>

						<ul>
							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>Angular</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="70%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>Ember</p>
									<span>60%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="60%"></span>
								</div>
							</li>
							
							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>React</p>
									<span>60%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="60%"></span>
								</div>
							</li>
							
							<li class="skill">
								<div class="skill-header">
									<i class="icon-terminal"></i>
									<p>Bootstrap</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>
						</ul>						
					</div>
				</div>			
				
				
				<!-- Testimonials -->
				<div class="eight columns">
					<div class="skills">

						<h2>Software<span></span></h2>
					
						<ul>
						
							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-pencil"></i>
									<p>Microsoft Visual Studio</p>
									<span>95%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="95%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-pencil"></i>
									<p>Sublime</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-pencil"></i>
									<p>Slack</p>
									<span>80</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-github-alt"></i>
									<p>Git</p>
									<span>70</span>
								</div>
								<div class="skill-bar">
									<span data-skill="70%"></span>
								</div>
							</li>

							<!-- Skill -->
							<li class="skill">
								<div class="skill-header">
									<i class="icon-pencil"></i>
									<p>Team Foundation Server</p>
									<span>80%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="80%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-pencil"></i>
									<p>Teamcity</p>
									<span>70%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="70%"></span>
								</div>
							</li>

							<li class="skill">
								<div class="skill-header">
									<i class="icon-github-alt"></i>
									<p>Resharper</p>
									<span>100%</span>
								</div>
								<div class="skill-bar">
									<span data-skill="100%"></span>
								</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				

			
				
			</div><!-- / Container -->
		
		</section><!-- / About -->
		
		
		<!-- Contact -->
		<section id="contact" class="contact">
		
			<!-- Container -->
			<div class="container">
			
				<!-- Contact Details -->
				<div class="seven columns">
					<div class="contact-details">
					
						<h3></h3>
						
					</div>
				</div>
				
				<!-- Contact Form -->
				<div class="nine columns">
					<div class="contact-us">
						<div class="success">
						<img src="images/avatar-dao.png" class="cropped-avatar"/>
						<p class="thank-you">Thank you so much for spending your time with me. If you are interested in me, please feel free to send me an email. I really appreciate that!<p></div>
					</div>
				</div>			
			
			</div><!-- / Container -->
		
		</section><!-- / Contact -->
		
		
		<!-- Footer -->
		<footer id="footer" class="footer">
		
			<!-- Socials Bar -->
			<div class="socials-bar">
				<div class="container">
				
					<!-- Social Icons -->
					<div class="sixteen columns">
						<ul class="socials">
							<li><a href="#"><i class="icon-flickr"></i></a></li>
							<li><a href="https://github.com/spaceman27"><i class="icon-github-sign"></i></a></li>
						</ul>
					</div>
				
				</div>
			</div><!-- / Socials Bar -->
			
			<!-- Contents -->
			<div class="footer-content">
				<div class="container">
				
					<!-- Link Block -->
					<div class="three columns">
						<a href="images/Dao-Resume.docx" target="_blank"><h2>Resume</h2></a>
					</div>
					
					<!-- Link Block -->
					<div class="three columns">
						<h2>Contact</h2>
						<ul class="links">
							<li>Email: <a href="email:daong.js@gmail.com">daong.js@gmail.com</a></li>
						</ul>
					</div>		
				
				</div>		
			</div><!-- / Contents -->

			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
				
					<!-- Copyright Text -->
					<div class="sixteen columns">
						<p>© 2016 <span>Dao Nguyen</span> | All rights reserved.</p>
					</div>
				
				</div>
			</div><!-- / Copyright -->

		</footer><!-- / Footer -->

	</div><!-- / Main Wrapper -->

</div><!-- / Content -->



<!-- Javascript
================================================== -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.1.10.2.js"></script>
<script type="text/javascript" src="javascripts/jquery.cycle2.js"></script>
<script type="text/javascript" src="javascripts/classie.js"></script>
<script type="text/javascript" src="javascripts/borderMenu.js"></script>
<script type="text/javascript" src="javascripts/jquery.mCustomScrollbar.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="javascripts/tooltipsy.min.js"></script>
<script type="text/javascript" src="javascripts/waypoints.min.js"></script>
<script type="text/javascript" src="javascripts/waypoints-sticky.min.js"></script>
<script type="text/javascript" src="javascripts/custom.js"></script>


<!-- End Document
================================================== -->

</body></html>